{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вхід {{ role }}</title>
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
</head>
<body>
<h2>Вхід {{ role }}</h2>
<form method="post">
    {% csrf_token %}
     {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <input type="text" name="username" placeholder="Логін"><br>
    <input type="password" name="password" placeholder="Пароль"><br>
    <button type="submit">Увійти</button>
    <p><a href="{% url 'reset_password' %}">Забули пароль?</a></p>
</form>
<p>Акаунт ще не створений?
    <a href = "{% url 'register' role=role %}">Реєстрація</a>
</p>
<p>
    <a href="{% url 'home' %}">Повернутись на головну сторінку</a>
</p>
</body>
</html>