{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Відновлення пароля</title>
    <link rel="stylesheet" href="{% static 'css/register_styles.css' %}">
</head>
<body>
<h2>Відновлення пароля</h2>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Ваш логін"><br>
    <input type="password" name="new_password" placeholder="Новий пароль"><br>
    <button type="submit">Змінити пароль</button>
</form>
<p>
    <a href="{% url 'home' %}">Повернутись на головну сторінку</a>
</p>
</body>
</html>
